# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/local.properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release
*.jks
key.properties

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
pubspec.lock
keystore_base64.txt
token.txt
